h1, h2 {
    font-family: rosarivo, georgia, serif;
}

body {
  margin: 0;
    font-family: raleway, verdana, sans-serif;
    color: #fff;
    background: #000;
    padding: 100px;
    text-align: center;
}


        a {
            color: #379CB2;
        }
        a:hover {
            color: #82E8FF;
        }


section {
  max-width: 700px;
}
.text {
  background: #fff;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
h1, h2 {
  text-align: center;
}

a:link {
  color: #379CB2;
}
a:hover {
  color: #82E8FF;
}

@media screen and (max-width: 950px) {
   {
    grid-template-columns: repeat(1, auto);
  }
}
